{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="container emphasis">
            <div class="row text-center">
                <div class="span12">
                    <h1>Sign up for free</h1>
                    <p class="lead">You are <strong class="text-warning">about a minute away</strong> from hassle-free Scrum meetings.</p>
                </div>
            </div>

            <div class="row">
                <hr class="span12" />
            </div>

            <div class="row text-center">
                {{ form_start(form, {'attr': { 'class': 'form-large span12'}}) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-info btn-large span3" value="Sign up" />
                {{ form_end(form) }}
            </div>


            <div class="row">
                <hr class="span12" />
            </div>

            <div class="home-featurette row">
                <div class="row">
                    <div class="row">
                        <div class="featurette offset1 span11">
                            <img class="featurette-image pull-right img-polaroid" src="http://placehold.it/400x250">

                            <div class="span6">
                                <h2 class="featurette-heading">First feature. <span class="muted">Subtitle 1</span></h2>
                                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            </div>
                        </div>
                    </div>

                    <br /><br /><br /><br />

                    <div class="row">
                        <div class="featurette offset1 span11">
                            <img class="featurette-image pull-left img-polaroid" src="http://placehold.it/400x250">

                            <div class="span6">
                                <h2 class="featurette-heading">Second feature. <span class="muted">Subtitle 2</span></h2>
                                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            </div>
                        </div>
                    </div>

                    <br /><br /><br /><br />

                    <div class="row">
                        <div class="featurette offset1 span11">
                            <img class="featurette-image pull-right img-polaroid" src="http://placehold.it/400x250">

                            <div class="span6">
                                <h2 class="featurette-heading">Third feature. <span class="muted">Subtitle 3</span></h2>
                                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}